body {
    font-family: "Poppins", "sans-serif";
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 1rem;


    &--main {
        display: block;
        font-size: 42px;
        font-weight: 700;
        line-height: 50px;
    }

    &--sub {
        display: block;
        font-size: 21px;
        line-height: 29px;
        font-weight: 700;
    }

}

.heading-secondary {
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 500;
    // line-height: 38px;
    display: inline-block;
    color: #333;
    margin-bottom: 0px;
}

.paragraph {
    font-size: 1.2rem;
    color: $text-color;
}

.text {
    display: block;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    color: #fff;
    text-align: center;
}